@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800;900&display=swap');
/*font-family: 'Poppins', sans-serif;*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    min-height: 100vh;
    width: 100%;
    padding: 20px 3%;
    position: relative;
}

/* Navigation Bar */
/* Navbar container */
.navbar {
    overflow: hidden;
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  .navbar .except {
    float:right;
    font-size: 16px;
    color: #333;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
  }

  .except:hover{
    transition: 0.25s ease-in;
    color: #ec0606;
  }

  .navbar img.logo {
    background-color: #fff;
    max-width: 150px;
  }

  #close {
    display: none;
}

#mobile {
    display: none;
    align-items: center;
}
  
  /* The dropdown container */
  .dropdown {
    float: right;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #333;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
    margin-top: -18px;
    cursor: pointer;
  }

  /* Transition effect for Menu button */
  a.dropbtn:hover {
    transition: 0.25s ease-in;
    color: #ec0606;
  }  
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: 0.4s ease-in;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
    transition: 0.3s ease-in;
    color: red;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

/* Content */
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 65px 0px;
}

.content .content-text {
    flex-basis: 55%;
}

.content .content-text h2 {
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 600;
}

.content .content-text span {
    color: #004B93;
    font-weight: 900;
}

.content-text p.product-des{
    margin: 20px 0;
}

.content .content-text button.learn-more{
    cursor: pointer;
    width: 140px;
    font-family: 'Poppins', sans-serif; 
    padding: 12px 10px;
    background-color: #004b93;
    color: #fff;
    border: none;
    border-radius: 8px;
    letter-spacing: 1px;
}

aside.content-picture {
    flex-basis: 45%;
    display: flex;
    justify-content: flex-end;
}

aside.content-picture img.pepsi{
    max-width: 250px;
    margin-right: 30px;
}

aside.content-picture .socials{
    display: flex;
    align-items: center;
    justify-content: center;
}

aside.content-picture .socials ul.social-media li{
    list-style: none;
    margin-bottom: 15px;
}

aside.content-picture .socials ul.social-media li i{
    max-width: 20px;
    max-height: 65px;
    filter: invert(1);
    font-size: 25px;
    cursor: pointer;
}

.shape{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #004b93;
    z-index: -1;
    clip-path: circle(500px at right 700px);
}

.thumb ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.thumb ul li:hover{
    transform: translateY(-15px);
}

.thumb ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.thumb ul li img{
    max-width: 35px;
}







